*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,
body{
    width:100%;
    height:100%;
}

body{
    background:#1b1b1b;

    display:flex;
    justify-content:center;
    align-items:center;

    overflow:auto;

    font-family:sans-serif;

}

.book{
    width:min(95vw,600px);
    aspect-ratio:1080/1679;
    position:relative;
    perspective:3000px;

   touch-action:pan-y pinch-zoom;
    user-select:none;
}

.page{
    position:absolute;
    inset:0;

    transform-origin:left center;

    transition:
        transform 1.2s cubic-bezier(.65,.05,.36,1),
        box-shadow .8s ease;

    transform-style:preserve-3d;
    border-radius:10px;
    overflow:hidden;

    box-shadow:
        0 15px 40px rgba(0,0,0,.35);    
}

.page img{
    width:100%;
    height:100%;
    object-fit:cover;
    border-radius:10px;
    display:block;
}

.page::after{
    content:"";
    position:absolute;
    inset:0;
    background:
    linear-gradient(
        to left,
        rgba(0,0,0,.35),
        transparent 35%
    );

    opacity:0;
    transition:.5s;
}

.page.flipped{
    transform:rotateY(-180deg);
}

.page.flipped::after{
    opacity:1;
} 





#page1{
    z-index:4;
}

#page2{
    z-index:3;
}

#page3{
    z-index:2;
}

#page4{
    z-index:1;
}




/* CONTROLES */

.controls{
    position: fixed;
    bottom:15px;
    display:flex;
    justify-content:center;
    gap:305px;
    margin-top:25px;
}

.controls button{
    width:35px;
    height:35px;
    border:none;
    border-radius:50%;
    background:rgba(255,255,255,.15);
    color:blueviolet;
    font-size:14px;
    cursor:pointer;
    transition:.3s;
    backdrop-filter:blur(10px);
    box-shadow:
        0 5px 15px rgba(0,0,0,.25);
}

.controls button:hover{

    background:rgba(255,255,255,.25);

    transform:translateY(-2px);
}

.controls button:disabled{

    opacity:.3;

    cursor:not-allowed;

    transform:none;
}

@media(max-width:768px){

    .controls{
        position:fixed;
        bottom:25px;
        left:50%;
        gap:15px;
        transform:translateX(-50%);
    }

    .controls button{
        width:55px;
        height:55px;
        color:#fff;
    }

}
